@import url('https://fonts.googleapis.com/css2?family=Inconsolata:wght@400..700&display=swap');

.logo {
  font-family: Sen, sans-serif;
}

.app {
  text-align: center;
  position: relative;
  min-height: 100vh;
  transition: background-color 300ms linear;
}

.appHeader {
  display: flex;
  align-items: center;
  position: relative;
}

.comboboxContainer {
  display: flex;
  align-items: center;
  width: 300px;
  margin: 40px;
}

.contentContainer {
  width: calc(100vw - 400px - 146px);
  display: flex;
  flex-direction: column;
  align-items: start;
  position: relative;
  min-height: 540px;
  justify-content: center;
  padding-bottom: 60px;
}

.pokemonName {
  font-size: 36px;
}

.pokemonDexNumber {
  font-size: 12px;
  line-height: 16px;
  color: black;
  border: 1px solid black;
  padding: 0px 6px;
  border-radius: 4px;
  background-color: lightgrey;
  margin-left: 6px;
}

.pokemonNameSmall {
  font-size: 24px;
}

.pokemonSprites {
  display: flex;
  align-items: center;
  ;
}

.pokeball {
  border: 0.20em solid #000;
  border-radius: 100%;
  box-sizing: content-box;
  font-size: 16px;
  height: 4em;
  margin: 15px;
  overflow: hidden;
  position: relative;
  width: 4em;
  background: white;
  cursor: pointer;

  &>.top {
    border-bottom: 0.25em solid #000;
    box-sizing: inherit;
    height: 0;
    padding-bottom: 0.9375em;
    padding-top: 0.9375em;
    position: relative;
  }

  &>.button {
    background: #fff;
    border: 0.2em solid #000;
    border-radius: 100%;
    box-sizing: inherit;
    height: 1.2em;
    left: 50%;
    position: absolute;
    top: 50%;
    width: 1.2em;
    transform: translate(-50%, -50%);

    &::before {
      border: 0px solid #888;
      border-radius: 100%;
      content: "";
      height: 0.5em;
      left: 50%;
      position: absolute;
      top: 50%;
      width: 0.5em;
      transform: translate(-50%, -50%);
    }
  }
}

.pbHyper {
  .top {
    background: var(--color2);
    overflow: hidden;

    &::before {
      border-left: 1.35em solid var(--color1);
      border-right: 1.35em solid var(--color3);
      box-sizing: inherit;
      content: "";
      height: 2em;
      left: 0;
      position: absolute;
      top: 0;
      width: 1.35em;
    }
  }
}

.pbSwatchPage {
  .top {
    background: #ce372f;
    overflow: hidden;

    &::before {
      border-left: 1.35em solid #e54545;
      border-right: 1.35em solid rgb(186, 43, 50);
      box-sizing: inherit;
      content: "";
      height: 2em;
      left: 0;
      position: absolute;
      top: 0;
      width: 1.35em;
    }
  }
}

.pokemonType {
  color: rgb(243, 243, 243);
  padding: 3px 8px;
  margin-right: 5px;
  text-transform: uppercase;
  box-shadow: inset white 0px 0px 1px 1px;
  font-weight: 700;
  border-radius: 5px;
}

.normal {
  background: #a8a878;
  border: 1px solid #6d6d4e;
}

.fire {
  background: #f08030;
  border: 1px solid #9c531f;
}

.fighting {
  background: #c03028;
  border: 1px solid #7d1f1a;
}

.water {
  background: #6890f0;
  border: 1px solid #445e9c;
}

.flying {
  background: #a890f0;
  border: 1px solid #6d5e9c;
}

.grass {
  background: #78c850;
  border: 1px solid #4e8234;
}

.poison {
  background: #a040a0;
  border: 1px solid #682a68;
}

.electric {
  background: #f8d030;
  border: 1px solid #a1871f;
}

.ground {
  background: #e0c068;
  border: 1px solid #927d44;
}

.psychic {
  background: #f85888;
  border: 1px solid #a13959;
}

.rock {
  background: #b8a038;
  border: 1px solid #786824;
}

.ice {
  background: #98d8d8;
  border: 1px solid #638d8d;
}

.bug {
  background: #a8b820;
  border: 1px solid #6d7815;
}

.dragon {
  background: #7038f8;
  border: 1px solid #4924a1;
}

.ghost {
  background: #705898;
  border: 1px solid #493963;
}

.dark {
  background: #705848;
  border: 1px solid #49392f;
}

.steel {
  background: #b8b8d0;
  border: 1px solid #787887;
}

.fairy {
  background: #ee99ac;
  border: 1px solid #9b6470;
}

.type.normal {
  background-color: #8A8A59;
  background: linear-gradient(#A8A878, #8A8A59);
  border-color: #79794E;
}

.type.fire {
  background-color: #F08030;
  background: linear-gradient(#F08030, #DD6610);
  border-color: #B4530D;
}

.type.water {
  background-color: #6890F0;
  background: linear-gradient(#6890F0, #386CEB);
  border-color: #1753E3;
}

.type.electric {
  background-color: #F8D030;
  background: linear-gradient(#F8D030, #F0C108);
  border-color: #C19B07;
}

.type.fairy {
  background-color: #F830D0;
  background: linear-gradient(#F830D0, #F008C1);
  border-color: #C1079B;
}

.type.grass {
  background-color: #78C850;
  background: linear-gradient(#78C850, #5CA935);
  border-color: #4A892B;
}

.type.ice {
  background-color: #98D8D8;
  background: linear-gradient(#98D8D8, #69C6C6);
  border-color: #45B6B6;
}

.type.fighting {
  background-color: #C03028;
  background: linear-gradient(#C03028, #9D2721);
  border-color: #82211B;
}

.type.poison {
  background-color: #A040A0;
  background: linear-gradient(#A040A0, #803380);
  border-color: #662966;
}

.type.ground {
  background-color: #E0C068;
  background: linear-gradient(#E0C068, #D4A82F);
  border-color: #AA8623;
}

.type.flying {
  background-color: #A890F0;
  background: linear-gradient(#A890F0, #9180C4);
  border-color: #7762B6;
}

.type.psychic {
  background-color: #F85888;
  background: linear-gradient(#F85888, #F61C5D);
  border-color: #D60945;
}

.type.bug {
  background-color: #A8B820;
  background: linear-gradient(#A8B820, #8D9A1B);
  border-color: #616B13;
}

.type.rock {
  background-color: #B8A038;
  background: linear-gradient(#B8A038, #93802D);
  border-color: #746523;
}

.type.ghost {
  background-color: #705898;
  background: linear-gradient(#705898, #554374);
  border-color: #413359;
}

.type.dragon {
  background-color: #7038F8;
  background: linear-gradient(#7038F8, #4C08EF);
  border-color: #3D07C0;
}

.type.steel {
  background-color: #B8B8D0;
  background: linear-gradient(#B8B8D0, #9797BA);
  border-color: #7A7AA7;
}

.type.dark {
  background-color: #705848;
  background: linear-gradient(#705848, #513F34);
  border-color: #362A23;
}

.rightDrawer {
  position: absolute;
  right: 0;
  top: 0;
  height: 100%;
  width: 400px;
  background-color: var(--color2-light);
}

.movesContainer {
  overflow-y: scroll;
  height: calc(-80px + 100vh);
  box-sizing: border-box;
  padding: 15px;
  display: flex;
  flex-direction: column;
}

.contentContainerTopSection {
  width: 100%;
  display: flex;
  align-items: center;
  margin-bottom: 24px;
  text-transform: capitalize;
  font-weight: 700;
  justify-content: start;
  flex-wrap: wrap;
  row-gap: 15px;
}

.contentContainerMidSection {
  display: flex;
  justify-content: center;
  align-items: center;
  text-transform: capitalize;
  font-weight: 700;
  padding: 10px;
  gap: 36px;
}

.pokemonTeamContainer {
  display: flex;
  gap: 25px;
}

.statBar {
  width: 420px;
}

.pokemonInfoContainer {
  display: flex;
  flex-direction: column;
  gap: 5px;
  width: 600px;
}

.colorBlock {
  font-weight: 700;
  width: 160px;
  height: 130px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.pokemonSpriteContainer {
  min-width: 415px;
}

.pokemonSprite {
  height: 250px;
  image-rendering: pixelated;
}

.buttonsContainer {
  margin-top: 24px;
  margin-bottom: 26px;
  margin-left: 90px;
  display: flex;
  gap: 40px;
}

.settingsIcon {
  min-width: 40px !important;
  height: 40px;
  color: inherit !important;
  font-size: 28px !important;
  cursor: pointer;
  position: absolute !important;
  top: 48px;
  right: 450px;
  padding: 7px;
  border-radius: 50% !important;
  background-color: var(--color4-light) !important;
  filter: brightness(100%);
  transition: all 0.2s ease-in-out !important;
}

.settingsIcon:hover {
  filter: brightness(120%);
  transition: all 0.2s ease-in-out;
}

.swatchColorCopyLight:hover {
  filter: brightness(120%)
}

.swatchColorCopyLight:active {
  filter: brightness(130%)
}

.swatchColorCopyDark:hover {
  filter: brightness(90%);
}

.swatchColorCopyDark:active {
  filter: brightness(80%);
}

.settingsIconSwatchPage {
  min-width: 40px !important;
  height: 40px;
  color: inherit !important;
  font-size: 28px !important;
  cursor: pointer;
  margin-left: auto !important;
  margin-right: 50px !important;
  padding: 7px;
  border-radius: 50% !important;
  background-color: #ffa1a1 !important;
  filter: brightness(100%);
  transition: all 0.2s ease-in-out !important;
}

.settingsIconSwatchPage:hover {
  filter: brightness(120%);
  transition: all 0.2s ease-in-out;
}

@keyframes jump {
  0% {
    transform: translateY(0);
  }

  50% {
    transform: translateY(-1.5px);
  }

  100% {
    transform: translateY(0);
  }
}

.bouncingIcon {
  animation: jump 0.3s infinite steps(1);
}

.pokemonSwatchContainer {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}

.footer {
  width: 90%;
  padding: 20px 60px;
  margin: 0 auto;
  text-align: center;
}

@media only screen and (max-width: 1460px) {
  .rightDrawer {
    position: relative;
    width: 100%;
    margin-top: 24px;
    height: auto;
    padding-bottom: 150px;
  }

  .movesContainer {
    height: auto;
    overflow-y: auto;
  }

  .contentContainer {
    width: auto;
    padding: 0 135px;
    align-items: center;
    overflow-x: hidden;
  }

  .contentContainerTopSection {
    justify-content: start;
    max-width: 810px;
  }

  .contentContainerMidSection {
    margin-left: 200px;
  }

  .loader {
    left: 5% !important;
  }

  .buttonsContainer {
    margin-left: auto;
    margin-right: auto;
  }

  .settingsIcon {
    right: 48px;
  }
}

@media only screen and (max-width: 1096px) {
  .appHeader {
    flex-wrap: wrap;
    margin-left: 0;
  }

  .pokemonTeamContainer {
    margin: 0 auto;
    margin-bottom: 40px;
    min-width: 200px;
  }

  .pokeball:not(.loader):not(.swatchLoader) {
    margin-left: 130px;
  }

  .comboboxContainer {
    flex-grow: 1;
    margin-right: 185px;
  }

  .settingsIcon {
    top: 48px;
    right: 118px;
  }

  .settingsIconSwatchPage {
    margin-right: 130px !important;
  }
}

@media only screen and (max-width: 924px) {
  .contentContainerTopSection {
    justify-content: center;
  }

  .contentContainerMidSection {
    flex-direction: column;
    margin-left: 0;
  }

  .statBar {
    width: 40vw;
  }

  .pokemonInfoContainer {
    width: 100%;
    align-items: center;
  }
}

@media only screen and (max-width: 1000px) {
  .pokemonSwatchContainer {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media only screen and (max-width: 766px) {
  .pokemonTeamContainer {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
  }

  .pokeball:not(.loader):not(.swatchLoader) {
    margin-left: 50px;
  }

  .settingsIconSwatchPage {
    margin-right: 50px !important;
  }

  .contentContainer {
    padding: 0 50px;
  }

  .colorBlock {
    width: 120px;
    height: 100px;
  }

  .comboboxContainer {
    width: 50%;
    margin: 40px 20px;
    margin-right: 65px;
  }

  .pokemonSpriteContainer {
    min-width: auto;
  }

  .buttonsContainer {
    margin-top: 23px;
    flex-direction: column;
    align-items: center;
    gap: 0px;
    margin-bottom: 25px;
  }

  .settingsIcon {
    right: 15px;
  }
}

@media only screen and (max-width: 660px) {
  .pokemonSwatchContainer {
    grid-template-columns: repeat(1, 1fr);
  }

  .settingsIconSwatchPage {
    margin-right: 7px !important;
  }
}

@media only screen and (max-width: 550px) {
  .pokeball:not(.loader):not(.swatchLoader) {
    margin-left: 10px;
    transform: scale(0.8);
    margin-right: 7px;
  }

  .contentContainer {
    padding: 0 25px;
  }

  .comboboxContainer {
    width: 50%;
    margin: 40px 0;
    max-width: calc(92vw - 106px);
  }

  .pokemonSprite {
    height: 170px;
  }

  .colorBlock {
    width: 80px;
    height: 70px;
  }

  .settingsIcon {
    min-width: 32px !important;
    height: 32px;
    font-size: 22px !important;
    right: 12px;
    top: 52px;
  }

  .logo {
    font-size: 22px;
  }
}

.rightDrawerTabs {
  width: 100%;
  background-color: var(--color3);
  display: flex;
}

.rightDrawerTab {
  width: 33.33%;
  height: 60px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--color3);
  font-weight: 700;
}

.rightDrawerTabHalf {
  width: 50%;
  height: 60px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--color3);
  font-weight: 700;
}

.rightDrawerTab:hover,
.rightDrawerTabHalf:hover {
  cursor: pointer;
  background: var(--color3);
  filter: brightness(90%);
}

.rightDrawerText {
  text-transform: capitalize;
}

.downArrow {
  margin-bottom: 15px;
  font-size: 24px;
}

.moveContainer {
  display: grid;
  align-items: center;
  justify-content: center;
  grid-template-columns: 35% 25% 13% 13% 13%;
  padding: 5px 0;
}

.moveContainer:not(:first-child) {
  border-top: 1px solid;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }

  50% {
    border-top: 8px solid var(--color2);
    border-bottom: 8px solid var(--color2);
  }

  100% {
    transform: rotate(360deg);
  }
}

.loader,
.swatchLoader {
  animation: spin 1s ease-in-out infinite;
  top: 50%;
  left: 40%;
  position: relative;
  border: 8px solid var(--color1);
  border-top: 8px solid var(--color3);
  border-bottom: 8px solid var(--color3);
  border-radius: 50%;
}

.teamBuilderContainer {
  display: grid;
  grid-template-columns: 33.33% 33.33% 33.33%;
  grid-template-rows: 50% 50%;
  width: 100%;
  height: calc(100vh - 136px);

  & .teamPokemon:not(:last-child) {
    border-right: 1px solid black;
  }

  & .teamPokemonContainer {
    border-top: 1px solid black;
    max-height: 360px;
    max-width: 100%;
    padding: 15px;
    display: flex;
    flex-direction: column;
    align-items: start;
    position: relative;
    justify-content: center;
  }
}

.buttonSwatchPage, .mobileButtonSwatchPage {
  padding: 7px 10px;
  border-radius: 4px;
  margin-right: 20px;
  font-size: 20px;
  font-weight: bold;
  text-decoration: none;
  height: 21px;
  display: flex;
  align-items: center;
  box-sizing: content-box;
  color: black;
}

.randomizeButton {
  border: 2px solid #ffa1a1;
}

.supportButton {
  background-color: #ffa1a1;
}

.mobileButtonSwatchPage {
  display: none;
}

@media only screen and (max-width: 1000px) {
  .buttonSwatchPage {
    display: none;
  }

  .mobileButtonSwatchPage {
    display: flex;
    padding: 0;
    height: 40px;
    width: 40px;
    box-sizing: border-box;
    align-items: center;
    justify-content: center;
    margin-right: 10px;
  }
}