.main {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding-top: 200px;

  & .buttonsContainer {
    display: flex;
    gap: 20px;
    margin-top: 35px;
    z-index: 3;

    & .button {
      box-sizing: border-box;
      justify-content: center;
      align-items: center;
      padding: 7px 10px;
      display: flex;
      border-radius: 4px;
      background-color: #ffa1a1;
      cursor: pointer;
      font-size: 18px;
      font-weight: bold;
    }
  }

  & .mainText {
    font-size: 24px;
    margin-bottom: 20px;
    text-align: center;
    font-weight: bold;
  }
}

.appContainer {
  height: 100vh;
  width: 100vw;
  position: relative;

  & .backgroundIconsContainer {
    position: absolute;
    top: 0;
    left: 0;
    min-height: 857px;
    height: 100%;
    min-width: 1512px;
    width: 100%;
    overflow: hidden;
    z-index: 0;
  }
}

.pokemonIcon {
  width: 40px;
  height: 30px;
  image-rendering: pixelated;
  position: absolute;
  z-index: -1;
  scale: 1.5;
  opacity: 0.2;
}

@media only screen and (max-width: 900px) {
  .main {
    padding: 150px 20px 0 20px;

    & .buttonsContainer {
      flex-direction: column;
      gap: 10px;

      & .button {
        font-size: 14px;
      }
    }

    & .mainText {
      font-size: 18px;
      margin-bottom: 10px;
    }
  }
}

.settingsIcon {
  min-width: 40px !important;
  height: 40px;
  color: inherit !important;
  font-size: 28px !important;
  cursor: pointer;
  margin-right: 50px !important;
  padding: 7px;
  border-radius: 50% !important;
  background-color: #ffa1a1 !important;
  filter: brightness(100%);
  transition: all 0.2s ease-in-out !important;
}

.settingsIcon:hover {
  filter: brightness(120%);
  transition: all 0.2s ease-in-out;
}

@media only screen and (max-width: 766px) {
  .settingsIcon {
    margin-right: 20px !important;
  }
}

@media only screen and (max-width: 480px) {
  .settingsIcon {
    min-width: 32px !important;
    height: 32px;
    font-size: 22px !important;
    margin-right: 10px !important;
  }
}